body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchMeals {
    padding-top: 25px;
}

.random_meal_item {
    display: flex;
}

section {
    margin-bottom: 20px;
}

.meal {
    cursor: pointer;
    max-width: 300px;
}

ul {
    list-style: none;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}



.random_meal_additional {
    display: flex;
    flex-direction: column;
}

.random_meal_item {
    display: flex;
    flex-direction: column;
}

.fav_button {
    margin-top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.meal_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.recipe_button {
    width: 125px;
    cursor: pointer;
}

h3 {
    text-align: center;
}

